

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/5bc761fa82.js" crossorigin="anonymous"></script>
	<title>Blog App | Register</title>
</head>
<body>
    <div>
        <div class="row mx-0">
            <div class="col-8 form-left px-0">
                <div class="overlay"></div>
            </div>
            <div class="popup-effect">
                <div class="popup px-5 pt-1 mx-auto">
                    <form method="POST" action="/register" class="section text-center">
                        <h3>Register Yourself</h3>
                        <div class="form-group">
                            <label for="name"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input name="name" type="text" class="form-control"
                                placeholder="Your Full Name" id="name"
                                autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remail"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input name="email" type="email" class="form-control"
                                placeholder="Your Email" id="remail"
                                autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rpwd"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input name="password" type="password" class="form-control"
                                placeholder="Your Password" id="rpwd" required>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-eye-slash pass-btn"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cpwd"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input name="cnfrm_password" type="password" class="form-control"
                                placeholder="Confirm Password" id="cpwd" required>
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-eye-slash cnfm-btn"></i></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn text-white mt-4 px-3" id="register-btn">Register</button>
                        <p class="pt-2">Already a User? <a href="/login">Login</a></p>
                        <div class="copy-right text-center mt-3 py-3">
                            <p>© Copyright 2021 Blog App. All rights reserved | Designed by Lalit Kanoriya</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="reg-pwd.js"></script>
</body>
</html>